<!DOCTYPE html>
<html>
    <head>
        <title>moagram</title>
        <link rel="icon" type="image/png" href="/icons/moa-picture-favicon.png" sizes="16x16">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/content.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
    </head>
	
	<body>
		<div id='main-nav'>
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/">
                    <img src="/icons/moa-picture.png" width="30px" height="30px"> Moagram
                </a>    
            </nav>
        </div>
		<div class="jumbotron">
		  	<h1 class="display-4"><%= err %>, <%= message %></h1>
	  		<hr class="my-4">
		  	<img id="line" src="/icons/moa-mock-hunt.jpg" width="350px" height="350px"/>
		  	<div style="padding-top: 20px;">
		  		<a href="/" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Back to Home</a>
		  	</div>
		</div>
	</body>

	<script>
	  	setTimeout(function () {
	     	// after 2 seconds
	     	window.location = "/";
	  	}, 5000)
	</script>
</html>
