<% if (user) { %>
	<% if (user.lang == 'en') { %>
		<% include en/partials/header %>
	<% } else if (user.lang == 'ko') { %>
		<% include ko/partials/header %>
	<% } else { %>
		<% include en/partials/header %>
   	<% } %>
<% } else { %>
	<% include en/partials/header %>
<% } %>

<link rel="stylesheet" href="/stylesheets/home.css">
<div class="content">
	<% if (user) { %>
		<% if (user.lang == 'en') { %>
			<a class="responsiveText" href="en/contents" class="btn btn-default btn-lg" >
	    		<img src="/icons/moa-picture-favicon.png" width="50px" height="50px"/>
	    		&nbsp; Share videos and pictures you loved watching!
	    	</a>
		<% } else if (user.lang == 'ko') { %>
			<a class="responsiveText" href="ko/contents" class="btn btn-default btn-lg" >
	    		<img src="/icons/moa-picture-favicon.png" width="50px" height="50px"/>
	    		&nbsp; 나누고 싶은 영상과 사진들을 올려주세요!
	    	</a>
	    <% } %>	   	
	<% } else if (moment.locale() == 'en'){ %>
		<a class="responsiveText" href="en/contents" class="btn btn-default btn-lg" >
			<img src="/icons/moa-picture-favicon.png" width="50px" height="50px"/>
    		&nbsp; Share videos and pictures you loved watching!
    	</a>
   	<% } else if (moment.local() == 'ko'){ %>
		<a class="responsiveText" href="ko/contents" class="btn btn-default btn-lg" >
    		<img src="/icons/moa-picture-favicon.png" width="50px" height="50px"/>
    		&nbsp; 나누고 싶은 영상과 사진들을 올려주세요!
    	</a>
   	<% } else { %>
   		<a class="responsiveText" href="en/contents" class="btn btn-default btn-lg" >
			<img src="/icons/moa-picture-favicon.png" width="50px" height="50px"/>
    		&nbsp; Share videos and pictures you loved watching!
    	</a>
   	<% } %>
</div>

<% if (user) { %>
	<% if (user.lang == 'en') { %>
		<% include en/partials/footer %>
	<% } else if (user.lang == 'ko') { %>
		<% include ko/partials/footer %>
	<% } else { %>
		<% include en/partials/footer %>
   	<% } %>
<% } else { %>
	<% include en/partials/footer %>
<% } %>
