<% include partials/header %>


<link rel="stylesheet" href="/stylesheets/home.css">

<!-- <div class="container">
	<div class="container">
		<div id="bjs">
			<div class="one">
				<img src="https://yt3.ggpht.com/-1B-w-q5Ug8g/AAAAAAAAAAI/AAAAAAAAAAA/BVtWzR3d0Gg/s288-mo-c-c0xffffffff-rj-k-no/photo.jpg">
				
			</div>
			<div class="two">
				<img id="image" src="https://yt3.ggpht.com/-OCqIs3EKZ3A/AAAAAAAAAAI/AAAAAAAAAAA/EwNZChj02Kc/s288-mo-c-c0xffffffff-rj-k-no/photo.jpg">
			</div>
			<div class="three">
				<img id="image" src="http://stimg.afreecatv.com/LOGO/rr/rrvv17/rrvv17.jpg">
			</div>
			<div class="four">
				<img id="image" src="http://stimg.afreecatv.com/LOGO/is/isauria/isauria.jpg">
			</div>
			<div class="five">
				<img id="image" src="http://stimg.afreecatv.com/LOGO/by/byflash/byflash.jpg">
			</div>
			<div class="six">
				<img id="image" src="http://stimg.afreecatv.com/LOGO/bi/bigbigjo2/bigbigjo2.jpg">
			</div>
			<div class="seven">
				<img id="image" src="http://stimg.afreecatv.com/LOGO/ar/arinbbidol/arinbbidol.jpg">
			</div>
			<div class="eight">
				<img id="image" src="http://stimg.afreecatv.com/LOGO/wn/wnnw/wnnw.jpg">
			</div>
			<div class="nine">
				<img id="image" src="http://stimg.afreecatv.com/LOGO/sk/skswhdkgo/skswhdkgo.jpg">
			</div>
			<div class="ten">
				<img id="image" src="http://stimg.afreecatv.com/LOGO/zp/zpdl1313/zpdl1313.jpg">
			</div>
			<div class="eleven">
				<img id="image" src="http://stimg.afreecatv.com/LOGO/b1/b13246/b13246.jpg">
			</div>
			<div class="twelve">
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="thirteen">13
				<img id="image" src="http://stimg.afreecatv.com/LOGO/dl/dlghfjs/dlghfjs.jpg">
			</div>
			<div class="fourteen">14
				<img id="image" src="http://stimg.afreecatv.com/LOGO/io/ioioiobb/ioioiobb.jpg">
			</div>
			<div class="fifteen">15
				<img id="image" src="http://stimg.afreecatv.com/LOGO/dp/dpfgc3/dpfgc3.jpg">
			</div>
			<div class="sixteen">16
				<img id="image" src="http://stimg.afreecatv.com/LOGO/ls/lshooooo/lshooooo.jpg">
			</div>
			<div class="seventeen">17
				<img id="image" src="http://stimg.afreecatv.com/LOGO/se/seokwngud/seokwngud.jpg">
			</div>
			<div class="eighteen">18
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="nineteen">19
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="twenty">20
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="twentyone">21
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="twentytwo">22
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="twentythree">23
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="twentyfour">24
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="twentyfive">25
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="twentysix">26
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="twentyseven">27
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="twentyeight">28
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="twentynine">29
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="thirty">30
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="thirtyone">31
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="thirtytwo">32
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="thirtythree">33
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="thirtyfour">34
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="thirtyfive">35
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="thirtysix">36
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="thirtyseven">37
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="thirtyeight">38
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="thirtynine">39
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="fourty">40
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="fourtyone">41
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="fourtytwo">42
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="fourtythree">43
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="fourtyfour">44
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="fourtyfive">45
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="fourtysix">46
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="fourtyseven">47
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="fourtyeight">48
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
			<div class="fourtynine">49
				<img id="image" src="http://stimg.afreecatv.com/LOGO/yu/yuambo/yuambo.jpg">
			</div>
		</div>
	</div>
</div> -->

<div id="content-index">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4" style="text-align: center">
	    	<a href="/contents" class="btn btn-default btn-lg" ><img src="/icons/icons8-o-52.png" width="40px" height="40px" /><img src="/icons/icons8-l-52.png" width="40px" height="40px" /><img src="/icons/icons8-o-52.png" width="40px" height="40px" />
	    	Share videos and pictures you loved watching!</a>
		</div>
	</div>
</div>


<% include partials/footer %>