<% if (user) { %>
	<% if (user.lang == 'en') { %>
		<% include en/partials/header %>
	<% } else if (user.lang == 'ko') { %>
		<% include ko/partials/header %>
	<% } else { %>
		<% include en/partials/header %>
   	<% } %>
<% } else { %>
	<% include en/partials/header %>
<% } %>

<link rel="stylesheet" href="/stylesheets/home.css">
<div id="content-index">
	<a> https://app.termly.io/document/privacy-policy/93a99ec2-81eb-42f4-bf90-a046a758064b </a>
</div>

<% if (user) { %>
	<% if (user.lang == 'en') { %>
		<% include en/partials/footer %>
	<% } else if (user.lang == 'ko') { %>
		<% include ko/partials/footer %>
	<% } else { %>
		<% include en/partials/footer %>
   	<% } %>
<% } else { %>
	<% include en/partials/footer %>
<% } %>