<% include ./partials/header %>

<div class="page-body bg-gray page-about">
	<div class="container">
		<div class='row'>
			<div class='col-lg-10 marginAuto' style="padding-top: 20px; padding-bottom: 20px;">
				<section align='middle'>

					<h1>How Moagram Started?</h1>
					<h5>We watch many YouTube videos daily. There are many new and creative creators and their videos. Many videos of big broadcasting companies celebrities are dominating Youtube. We would like to watch new and creative videos made by creators so we made Moagram. Share many videos you liked. We are looking forward to seeing many videos from creators who we have never heard yet. We hope Moagram can be an active community that can introduce many new creators' vidoes.</h5>
					<br/>
					<h1>Why is the name "Moagram"?</h1>
					<h5>"Moa" means "collect" in Korean and "Moa" is also a name of an extinct bird. Moagram is where we collect videos links from YouTube and Twitch and watch our handpicked contents.
					<br/>Many times we often forget the names of videos we wanted to share and we can not find them anymore. We can post the videos easily in Moagram before they go extinct in our memories.</h5>
					<br/>
					<h1>Our Mission</h1>
					<h5>We want to be the best platform where we can share good videos from creators and talk about them.</h5>
					<br/>
					<h1>Contact</h1>
					<h5> If you have any question related to Moagram, send an email to admin@moagram.com</h5>

				</section>
			</div>
		</div>
	</div>
</div>

<% include ./partials/footer %>