<% include ./partials/header %>

<div class="page-body bg-gray page-about">
	<div class="container">
		<div class='row'>
			<div class='col-lg-10 marginAuto' style="padding-top: 20px; padding-bottom: 20px;">
				<section align='middle'>

					<h1>How Moagram Started</h1>
					<h5>I watch many YouTube videos daily. There are many great creators and their visual contents. I wanted to share good contents I watched with you all. I also would like to watch videos that you think were great so I started making Moagram. I am looking forward to seeing many contents from great creators who I have never heard yet.</h5>
					<br/>
					<h1>Why Moagram</h1>
					<h5>Moa means "collect" in Korean and Moa is also a name of an extinct bird <img class="roundImage" src="/icons/moa-picture-favicon.png" width="33px" height="33px"/> . Moagram is where we bring great contents from YouTube <img width="35" height="33" src="/icons/youtube.png"> and Twitch <img width="35" height="33" src="/icons/icons8-twitch-48.png">so that we can watch great handpicked contents together. Many times I often forget the names of contents I wanted to share with my family or they are not in search results anymore. We can post the contents in Moagram before they go extinct in our memories. We can make a great community collectively. I am looking forward to seeing many great contents people bring.</h5>
					<br/>
					<h1>Our Mission</h1>
					<h5>We want to provide the best platform where we can share great visual contents and talk about them.</h5>
					<br/>
					<h1>Contact</h1>
					<h5> If you have any question related to Moagram, send an email to admin@moagram.com</h5>

				</section>
			</div>
		</div>
	</div>
</div>

<% include ./partials/footer %>