<% include ./partials/header %>

<link rel="stylesheet" href="/stylesheets/home.css">
<div class="content">
	<a class="responsiveText" href="/contents" class="btn btn-default btn-lg" >
		<img src="/icons/moagram_logo_moa_moagram.png" width="120px" height="120px"/>
		<div>
			Share Your Favorite Creators and Their Videos on Moagram !
		</div>
		&nbsp; 
	</a>
</div>

<% include ./partials/footer %>

