<% include ./partials/header %>

<link rel="stylesheet" href="/stylesheets/home.css">
<div class="content">
	<a class="responsiveText" href="/contents" class="btn btn-default btn-lg" >
		<img src="/icons/moa-picture-favicon.png" width="50px" height="50px"/>
		&nbsp; Share videos and pictures you loved watching!
	</a>
</div>

<% include ./partials/footer %>

