<% include ../partials/header %>
    <div class="container">
        <h2 style="text-align: center">Create Post</h2>
        <div class="inputForm">
            <form action="/en/contents" method="POST">
                <label for="contentName"><strong>Title</strong></label>
                <div id="contentName" class="form-group">
                    <input class="form-control" type="text" name="name" maxlength="50" placeholder="Title" required>
                </div>
                <label for="contentImage"><strong>Image URL</strong></label>
                <div id="contentImage" class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="image url">
                </div>
                <label for="contentVideo"><strong>Video URL</strong> <img id="nav-icons" width="25" height="23" src="/icons/youtube.png"><img id="nav-icons" width="25" height="23" src="/icons/icons8-twitch-48.png"></label>
                <div id="contentVideo" class="form-group">
                    <input class="form-control" type="text" name="video" placeholder="YouTube or Twitch Video URL">
                </div>

                <!-- <div class="form-group">
                    <label for="ctg">Select Category of Content</label>
                    <select class="form-control" id="ctg" name="category">
                        <optgroup label="Catergory of your video">
                            <option value="tntl">TNTL</option>
                            <option value="mukbang">Mukbang | 먹방</option>
                            <option value="news">News</option>
                            <option value="documentary">Documentary</option>
                            <option value="educational">Educational</option>
                            <option value="fitness">Fitness</option>
                            <option value="motivational">Motivational</option>
                            <option value="music">Music</option>
                            <option value="beauty">Beauty</option>
                            <option value="gaming">Gaming</option>
                            <option value="vlog">VLOG</option>
                            <option value="animal">Animal</option>
                            <option value="others">Others</option>
                        </optgroup>
                    </select>                   
                </div> -->
                <div>
                    <label><strong>Select Category of Content</strong></label>
                </div>
                
                <div data-toggle="buttons">
                    <label class="btn btn-secondary active">
                        <input type="radio" name="category" id="ctg" autocomplete="off" value="tntl" checked> 
                        <img height="25" width="25" id="cat-icons" src="/icons/icons8-lol-64.png"> TNTL
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="category" id="ctg" autocomplete="off" value="mukbang"> 
                        <img height="25" width="25" id="cat-icons" src="/icons/icons8-noodles-48.png"> Mukbang | 먹방
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="category" id="ctg" autocomplete="off" value="news"> 
                        <img height="25" width="25" id="cat-icons" src="/icons/icons8-about-64.png"> News
                    </label>
                
                    <label class="btn btn-secondary">
                        <input type="radio" name="category" id="ctg" autocomplete="off" value="documentary"> 
                        <img height="25" width="25" id="cat-icons" src="/icons/icons8-documentary-64.png"> Documentary 
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="category" id="ctg" autocomplete="off" value="educational"> 
                        <img height="25" width="25" id="cat-icons" src="/icons/icons8-learning-50.png"> Educational
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="category" id="ctg" autocomplete="off" value="fitness"> 
                        <img height="25" width="25" id="cat-icons" src="/icons/icons8-squats-60.png"> Fitness
                    </label>
                
                    <label class="btn btn-secondary">
                        <input type="radio" name="category" id="ctg" autocomplete="off" value="motivational"> 
                        <img height="25" width="25" id="cat-icons" src="/icons/icons8-syringe-60.png"> Motivational
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="category" id="ctg" autocomplete="off" value="music"> 
                        <img height="25" width="25" id="cat-icons" src="/icons/icons8-music-library-60.png"/> Music
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="category" id="ctg" autocomplete="off" value="beauty"> 
                        <img height="25" width="25" id="cat-icons" src="/icons/icons8-lipstick-60.png"> Beauty
                    </label>
                
                    <label class="btn btn-secondary">
                        <input type="radio" name="category" id="ctg" autocomplete="off" value="gaming"> 
                        <img height="25" width="25" id="cat-icons" src="/icons/icons8-accuracy-60.png"/> Gaming
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="category" id="ctg" autocomplete="off" value="vlog"> 
                        <img height="25" width="25" id="cat-icons" src="/icons/icons8-selfie-100.png"/> VLOG
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="category" id="ctg" autocomplete="off" value="animal"> 
                        <img height="25" width="25" id="cat-icons" src="/icons/icons8-pig-100.png"/> Animal
                    </label>
        
                    <label class="btn btn-secondary">
                        <input type="radio" name="category" id="ctg" autocomplete="off" value="others"> 
                        <img height="25" width="25" id="cat-icons" src="/icons/icons8-xd-50.png"/> Others
                    </label>
                </div>
                
                <div>
                    <label><strong>Write about your post</strong></label>
                </div>
                          
                <div class="form-group">
                    <textarea id="editor" type="text" name="description"></textarea>
                </div>

                <script>
                  CKEDITOR.replace( 'editor');
                </script>
                    
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <div class="text-right">
                <a class="btn btn-default btn-sm" id="btn-default" href="/en/contents">Go Back</a>
            </div>
        </div>
    </div>
<% include ../partials/footer %>