.content-box {
	background: #DAE0E6;
}

#content-index{
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(12, minmax(0px, auto));
	grid-gap: 3px;
	margin: 10px auto;
}

.home {
	grid-column: 4/8;
	padding-top: 30%;
}

.contents {
	grid-column: 2/8;
	border-radius: 5px;
	border-bottom: 5px solid #DADADA;
	border-left: 3px solid #DADADA;
	background-color: white;
	margin-top: 20px;
	margin-bottom: 0px;
	max-height: 155px;
}

.content-res {
	padding: 0px;
}

#topContent {
	min-height: 235px;
}

.badge-top {
	background-color: #8E25AA;
	color: #FFFFFF;
}
/*========= content ad section partition ========*/

.content-ad {
	border-radius: 5px;
	grid-column: 8/10;
	grid-row: 1/13;
	margin-left: 20px;
}

.content-ad-partition {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(5,minmax(0px, auto));
	grid-gap: 5px;
	max-width: auto;
}

.content-hot-sidebar {
	grid-column: 1/1;
	grid-row: 1/3;
	padding: 1px;
	max-width: 300px;
	min-width: 280px;
	margin-left: 30px;
}

/*==================================================*/

/*.content-info {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(2, minmax(0px,auto));

}*/

.content-thumbnail {
    max-height: 153px;
    padding-right: 0px; 
}
.content-thumbnail iframe{
	margin: 0 auto;
	display: block;
}
.content-thumbnail img{
	margin: 0 auto;
	display: block;
}

.content-title {
	font-size: 20px;
	padding-top: 10px; 
}

.content-infoline {
	color: #7C7F81;
	padding-bottom: 3px;
	line-height: 20px;
}

.headerNavIconSize {
	width: 35px;
	height: 35px;
}
/*====when screen is smaller than 1320px====*/
@media only screen and (max-width: 1220px) {
    .content-ad{
    	grid-column: 8/8;
    	display: none;
    }
    .contents{
    	grid-column: 2/10;
    }
}

@media only screen and (max-width: 950px) {
    .content-thumbnail-iframe{
		width: 280px;
	}
}

@media only screen and (max-width: 930px) {
    .content-thumbnail-iframe{
		width: 260px;
	}
}

@media only screen and (max-width: 800px) {
    .content-thumbnail-iframe{
		width: 235px;
	}
}

@media only screen and (max-width: 767px) {
	.content-thumbnail{
		padding-left: 0px;
	}

	.secondRow{
		margin: 0 auto;
		width: 313px;
	}

	.content-thumbnail-iframe{
		width: 313px;
	}

	.content-infoline {
		text-align: center; 

	}

	.content-title {
		text-align: center; 
		font-size: 18px;
	}

	.contents{
		max-height: none;
	}
}

@media only screen and (max-width: 600px) {
	.headerNavIconSize {
		width: 20px;
		height: 20px;
	}
}



/*============Content Show=======================*/
#content-show{
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(5,minmax(0px, auto));
	grid-gap: 0px;
	max-width: auto;
	margin: 20px;
}

.content-show-sidebar {
	grid-column: 8/11;
	grid-row: 1/6;
	padding: 1px;
	max-width: 300px;
	min-width: 280px;
	margin-left: 30px;
}

/*content show page rec contents border to 0px*/
#content-show-rec-list {
	border: 0px;
	padding: 0px;
	border-radius: 5px;
}

/*content show side bar grid*/
.contents-rec {
	padding: 0px;
	border-bottom: 8px solid #DADADA;
}

.content-sidebar-info {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(3,minmax(0px, auto));
	grid-gap: 1px;
	margin-bottom: 0px;
}

.content-sidebar-thumbnail {
	max-height: 125px;
	max-width: 260px;
    min-height: 50px;
    min-width: 80px;
    grid-column: 1/2;
	grid-row: 3/4;
    padding-top: 1px;
    text-align: center;
}

.content-sidebar-title {
	grid-column: 1/2;
	grid-row: 1/2;
    padding-left: 3px;
    text-align: center;
}

.content-sidebar-title p{
	font-size: 18px;
	padding-bottom: 3px;
	margin-bottom: 0px;
}

.content-sidebar-title a {
    max-width: 260px;
}

.content-sidebar-infoline {
	color: #7C7F81;
	grid-column: 1/2;
	grid-row: 2/3;
	padding-left: 3px;
	text-align: center;
}

/*---end of content show side bar grid---*/

/*===== content show main ===== */

.content-show-main {
	grid-column: 1/8;
	grid-row: 1/6;
	padding-left: 30px
}


.content-show-main-info {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(5,minmax(0px, auto));
	grid-gap: 1px;
	max-width: auto;
}

.content-show-main-header {
	grid-column: 1/1;
	grid-row: 1/2;
}

#content-show-name {
	font-size: 30px;
}

.content-show-main-thumbnail {
	grid-column: 1/1;
	grid-row: 2/6;
	padding-bottom: 20px;
	border-bottom: 1px solid #DADADA;
}

.content-show-mobile-rec {
	grid-column: 1/1;
	grid-row: 6/6;
	display: none;
}

/*======== ========*/

a { color: inherit; } 

/*========making a vertical line and putting them in a line using div========*/
#verticalLine {
	padding-left: 3px;
	padding-right: 3px;
  	border-right: 1px solid #DADADA;
  	display:inline;
}
/*===only putting together in a line===*/
#line {
	display: inline;
}

.line {
	display: inline;
}

.verticalLine {
	padding-left: 3px;
	padding-right: 3px;
  	border-right: 1px solid #DADADA;
  	display:inline;
}
/*================================================*/


/*========Responsive Show Page=================*/
/*========When show page screen < 900px==================*/
@media only screen and (max-width: 900px) {
    .content-show-main-thumbnail #show-main-thumbnail {
    	width: 400px;
    	height: 250px;
    }
}

/*========When show page screen < 600px==================*/
@media only screen and (max-width: 600px) {
    .content-show-sidebar {
		grid-column: 11/11;
		grid-row: 1/6;
		display: none;
	}	
	.content-show-main {
		grid-column: 1/11;
		grid-row: 1/6;
	}
	.content-mobile-rec-thumbnail .content-mobile-rec-thumbnail-iframe{
		width: 180px;
		height: 100px;
	}

	.content-show-main-info .content-show-main-header {
		max-width: 350px;
	}

	#content-show-name {
		font-size: 23px;
	}	

	.content-show-main-thumbnail #show-main-thumbnail {
    	width: 335px;
    	height: 210px;
    }

	.content-show-main {
		padding-left: 0px;
	}
}

/*========When show page screen < 565px==================*/
@media only screen and (max-width: 565px) {
	.content-show-main {
		grid-column: 1/11;
		grid-row: 1/6;
	}
}


/*========when show page screen < 600px rec moves under main===========*/
@media only screen and (max-width: 600px) {

    .content-show-mobile-rec {
		grid-column: 1/1;
		grid-row: 5/6;
		display: block;
		padding-top: 20px;
	}

	.content-show-main-thumbnail {
		grid-column: 1/1;
		grid-row: 2/5;
	}

	.content-mobile-rec-info {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2,minmax(0px, auto));
		grid-gap: 1px;
		max-width: auto;
		margin: 0px;
	}

	.content-mobile-rec {
		border-bottom: 1px solid #DADADA;
	}

	.content-mobile-rec-thumbnail {
	    min-height: 120px;
	    min-width: 200px;
	    grid-column: 1/2;
		grid-row: 1/3;
	    padding-top: 5px;
	    text-align: center;
	}

	.content-mobile-rec-title {
		grid-column: 2/4;
		grid-row: 1/2;
	    padding-left: 1px;
	    text-align: center;
	}

	.content-mobile-rec-infoline {
		color: #7C7F81;
		grid-column: 2/4;
		grid-row: 2/3;
		padding-left: 0px;
		text-align: center;
	}
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}

/*COMMENT AND REPLY TEXTAREA STYLE*/

textarea.commentReplyTextarea {
	height: 70px;
	width: 100%;

	border: 0px;

	padding: 5px;
	resize: none;

	outline: none;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: -3px 3px 2px -2px #888888;
}

button.noOutline {
	outline:none;
}