

/*.content{
	padding-top: 20%;
	text-align: center;
}

.content h1, .content h3{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}
*/

/*====bj icons====*/
/*#bjs{
	    display: grid;
	    grid-template-columns: : repeat(11, 1fr);
	    grid-template-rows: repeat(11, minmax(30px, auto));
	    grid-gap: 4px;
	    min-width: 5px;
	    max-width: auto;
	    min-height: 5px;
	    max-height: 900px;
	    margin: 0px;
	    margin-top: 25px;
    }
#bjs div{
    background: #3bbced;
    
}    
#bjs div:nth-child(even){
    background: #777;
}

#image {
	height: 100%; width: 100%; object-fit: contain
}

.one{
    grid-column: 4/8;
    grid-row: 4/8;

}

.two{
    grid-column: 4/6;
    grid-row: 2/4;
}

.three{
	grid-column: 6/8;
	grid-row: 2/4;
}


.four{
	grid-column: 8/10;
	grid-row: 2/4;
}


.five{
	grid-column: 8/10;
	grid-row: 4/6;
}

.six{
	grid-column: 8/10;
	grid-row: 6/8;
}

.seven{
	grid-column: 8/10;
	grid-row: 8/10;
}

.eight{
	grid-column: 6/8;
	grid-row: 8/10;
}

.nine{
	grid-column: 4/6;
	grid-row: 8/10;
}

.ten{
	grid-column: 2/4;
	grid-row: 8/10;
}

.eleven{
	grid-column: 2/4;
	grid-row: 6/8;
}

.twelve{
	grid-column: 2/4;
	grid-row: 4/6;
}

.thirteen{
	grid-column: 2/4;
	grid-row: 2/4;
}

.fourteen{
	grid-column: 2/3;
	grid-row: 1/2;
}

.fifteen{
	grid-column: 3/4;
	grid-row: 1/2;	
}

.sixteen{
	grid-column: 4/5;
	grid-row: 1/2;
}
.seventeen{
	grid-column: 5/6;
	grid-row: 1/2;
}
.eighteen{
	grid-column: 6/7;
	grid-row: 1/2;
}
.nineteen{
	grid-column: 7/8;
	grid-row: 1/2;
}
.twenty{
	grid-column: 8/9;
	grid-row: 1/2;
}
.twentyone{
	grid-column: 9/10;
	grid-row: 1/2;
}
.twentytwo{
	grid-column: 10/11;
	grid-row: 1/2;
}
.twentythree{
	grid-column: 10/11;
	grid-row: 2/3;
}
.twentyfour{
	grid-column: 10/11;
	grid-row: 3/4;
}
.twentyfive{
	grid-column: 10/11;
	grid-row: 4/5;
}
.twentysix{
	grid-column: 10/11;
	grid-row: 5/6;
}
.twentyseven{
	grid-column: 10/11;
	grid-row: 6/7;
}
.twentyeight{
	grid-column: 10/11;
	grid-row: 7/8;
}
.twentynine{
	grid-column: 10/11;
	grid-row: 8/9;
}
.thirty{
	grid-column: 10/11;
	grid-row: 9/10;
}
.thirtyone{
	grid-column: 10/11;
	grid-row: 10/11;
}
.thirtytwo{
	grid-column: 9/10;
	grid-row: 10/11;
}
.thirtythree{
	grid-column: 8/9;
	grid-row: 10/11;
}
.thirtyfour{
	grid-column: 7/8;
	grid-row: 10/11;
}
.thirtyfive{
	grid-column: 6/7;
	grid-row: 10/11;
}
.thirtysix{
	grid-column: 5/6;
	grid-row: 10/11;
}
.thirtyseven{
	grid-column: 4/5;
	grid-row: 10/11;
}
.thirtyeight{
	grid-column: 3/4;
	grid-row: 10/11;
}
.thirtynine{
	grid-column: 2/3;
	grid-row: 10/11;
}
.fourty{
	grid-column: 1/2;
	grid-row: 10/11;
}
.fourtyone{
	grid-column: 1/2;
	grid-row: 9/10;
}
.fourtytwo{
	grid-column: 1/2;
	grid-row: 8/9;
}
.fourtythree{
	grid-column: 1/2;
	grid-row: 7/8;
}
.fourtyfour{
	grid-column: 1/2;
	grid-row: 6/7;
}
.fourtyfive{
	grid-column: 1/2;
	grid-row: 5/6;
}
.fourtysix{
	grid-column: 1/2;
	grid-row: 4/5;
}
.fourtyseven{
	grid-column: 1/2;
	grid-row: 3/4;
}
.fourtyeight{
	grid-column: 1/2;
	grid-row: 2/3;
}
.fourtynine{
	grid-column: 1/2;
	grid-row: 1/2;
}
*/
