/*css related to nav style*/
#main-nav{
	border-bottom:1px;
	padding-bottom:0px;
	
}

#main-nav-item{
	padding-right: 5px;
}

#nav-icons{
	padding-right: 5px;
}

.nav-item{
	padding-bottom: 10px;
}

.navbar-brand{
	padding-bottom: 15px;
}

#cat-icons{
	min-width: auto;
	min-height: auto;
	max-width: 45px;
	max-height: 45px;
}

#btn-default{
	border:1px solid #DADADA;
	background-color: white;
}

#search-bar {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
    background: url(/icons/sm-mag.png);
    background-size: cover;
	background-repeat:no-repeat;
	background-position:6px;
	border:1px solid #DADADA;
	padding-left: 50px;
	padding-top: 5px;
	width:300px;
	height:40px;
}

#loginForm{
	width:320px;
	height: 320px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 3px 0 #000;
	margin-top: 50px;
}

#loginForm .form-signin {
	margin: 40px auto;
}

.roundImage {
	border-radius: 50%;
}

#formName {
	padding-top: 15px;
	text-align: center;
}

/*removing arrow in dropdown*/
.dropdown-toggle::after {
    display:none !important;
}

/*some dropdown needs to be positioned to the right*/
/*========When screen > 991px==================*/
@media only screen and (min-width: 991px) {
	.dropdown-menu-right {
	    right: 0;
	    left: auto;
	    min-width: 200px;
	}
}

/*Center an Image*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/*removing bullets on the lists*/
ul {
  list-style-type: none;
}

h6 {
	margin-bottom: 0px;
}

/*==== clears text selection ====*/
a { color:red } /* Globally */

/* Each state */

a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:black }

/* Paginationa style */
/*.pagination a {
  border-radius: 5px;
}*/

.pagination a.active {
  border-radius: 5px;
}

.pagination a:hover:not(.active) {background-color: #FFFFFF; border-radius: 10px; border-width: 1.5px;}

/*footer text color to light gray*/
#footer div {
	color: #DAD9DA;
}

body { -webkit-text-size-adjust: none; }

.breakWord { 
  	word-break: break-word; 
} 

.responsiveText {
	font-size: 3vw;
}

.inputForm {
    width: 90%;
    margin: 15px auto;
    max-width: 500px;
}