#main-nav{
	border-bottom:1px;
	padding-bottom:0px;
	
}

#main-nav-item{
	padding-right: 5px;
	padding-left: 5px;
}

#nav-icons{
	padding-right: 5px;

}
#cat-icons{
	min-width: auto;
	min-height: auto;
	max-width: 45px;
	max-height: 45px;
}

#btn-default{
	border:1px solid #DADADA;
}

#search-bar {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
    background: url(/icons/sm-mag.png);
    background-size: cover;
	background-repeat:no-repeat;
	background-position:6px;
	border:1px solid #DADADA;
	padding-left: 50px;
	padding-top: 5px;
	width:300px;
	height:40px;
}

#loginForm{
	width:280px;
	height: 300px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 3px 0 #000;
	margin-top: 50px;
}

#loginForm .form-signin {
	margin: 40px auto;
}

#formName {
	padding-top: 15px;
	text-align: center;
}

/*removing arrow in dropdown*/
.dropdown-toggle::after {
    display:none !important;
}

/*some dropdown needs to be positioned to the right*/
/*========When screen > 991px==================*/
@media only screen and (min-width: 991px) {
	.dropdown-menu-right {
	    right: 0;
	    left: auto;
	    min-width: 200px;
	}
}




/*removing bullets on the lists*/
ul {
  list-style-type: none;
}

h6 {
	margin-bottom: 0px;
}

/*==== clears text selection ====*/
a { color:red } /* Globally */

/* Each state */

a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color:black }