		<!-- =====disqus====== -->
		<script id="dsq-count-scr" src="//ologram.disqus.com/count.js" async></script>  
    </body>
    <footer>
    	<small>
	    	<div align="center">
	    		<a id="verticalLine" href="https://app.termly.io/document/privacy-policy/93a99ec2-81eb-42f4-bf90-a046a758064b"> Privacy Policy </a>
	    		<a id="verticalLine" href="https://app.termly.io/document/terms-of-use-for-website/22356382-49b8-426d-bd4d-50e85c1bcf4f">Terms of Use</a>
	    		<a id="verticalLine" href="https://app.termly.io/document/disclaimer/a2750450-8936-478f-8dd6-432c9a6c6761">Disclaimer</a>
	    	</div>
			<div align="center">
				<a href="/">
				&copy; <script>new Date().getFullYear()>document.write(new Date().getFullYear());</script> Moagram. All rights reserved.
				</a>
			</div>
		</small>
	</footer>
</html>