<% include ./partials/header %>

<div class="page-body bg-gray page-about">
	<div class="container">
		<div class='row'>
			<div class='col-lg-10 marginAuto' style="padding-top: 20px; padding-bottom: 20px;">
				<section align='middle'>

					<h1>어떻게 모아그램을 시작하게 되었나요?</h1>
					<h5>매일 우리는 많은 유튜브 영상들을 봅니다. 좋은 크리에이터들과 그들의 컨텐츠들이 넘쳐나지요. 유튜브 알고리즘은 이미 유명한 채널과 비디오들을 보여주고는 합니다. 이미 큰 방송국들의 채널이 만든 영상들이 가득합니다. 우리는 크리에이터들이 만들 새롭고 창의적인 영상들을 보고싶어합니다 그래서 모아그램을 만들게 되었습니다. 좋아하는 많은 영상들을 공유해주세요. 아직 우리 알지못하는 많은 휼륭한 크리에이터 분들의 영상들을 보기를 기대하고 있습니다.</h5>
					</br>
					<h1>왜 이름이 모아그램 Moagram 인가요?</h1>
					<h5>"모아"는 한국말로 "모으다"를 뜻합니다 그리고 "모아"는 또한 지금은 멸종된 한 새의 이름이기도 합니다. 모아그램은 우리가 좋아하는 컨텐츠들을 유튜브나 트위치로부터 가져와 모음으로서 우리가 손수 선별한 좋은영상들을 볼 수 있습니다. 종종 저는 제 가족들에게 보여주고 싶었던 영상들의 이름을 잊거나 다시 검색했을때 검색결과에서 못찾을때 있습니다. 같이 보고 싶었던 좋은 컨텐츠들이 기억속에서 사라지기전에 모아그램에 올려주세요.</h5>
					</br>
					<h1>모아그램의 목표는</h1>
					<h5>모아그램은 크리에이터들이 만든 좋은 영상들을 공유하고 그것들에 관해서 대화를 나눌 수 있는 최고의 플랫폼이 되고 싶습니다.</h5>
					</br>
					<h1>연락처</h1>
					<h5> 모아그램에 관해서 궁금한 점이 있으시면, 다음의 이메일 주소로 연락바랍니다. admin@moagram.com</h5>

				</section>
			</div>
		</div>
	</div>
</div>

<% include ./partials/footer %>