<% include ./partials/header %>

<link rel="stylesheet" href="/stylesheets/home.css">
<div class="content">
	<a class="responsiveText" href="/contents" class="btn btn-default btn-lg" >
		<img src="/icons/moa-picture-favicon.png" width="50px" height="50px"/>
		&nbsp; 여러분들이 좋아하는 크리에이더들과 그들의 컨텐츠들을 공유해주세요 !
	</a>
</div>

<% include ./partials/footer %>