<% include ./partials/header %>

<link rel="stylesheet" href="/stylesheets/home.css">
<div class="content">
	<a class="responsiveText" href="/contents" class="btn btn-default btn-lg" >
		<img src="/icons/moagram_logo_moa_moagram.png" width="120px" height="120px"/>
		<div>
			여러분들이 좋아하는 크리에이터들과 그들의 비디오를 모아그램에 공유해주세요 !
		</div> 
	</a>
</div>

<% include ./partials/footer %>