<% include ./partials/header %>
<div class="container" id="loginForm">
    <form style="margin: 0px;" class="form-signin">
        <nav style="padding-top: 10px;">
            <form action="/auth/login" method="get">
                <button class="btn btn-light" name="language" value="ko"><img width=" 30px" height="30px" src="/icons/icons8-south-korea-48.png"> 한국어</button>
                <button class="btn btn-light" name="language" value="en"><img width=" 30px" height="30px" src="/icons/icons8-abc-48.png"> English</button>
            </form>
        </nav>
        <h3 id="formName">구글 계정으로 빠르고 쉽게 로그인 하세요</h3>
        
        <div style="text-align: center; padding-top: 15px;">
            <a href="/auth/google" class="btn btn-default btn-sm" id="btn-default"><img src="/icons/google_logo.png" width="40px" height="40px" /> 로그인 하기 </a>
        </div>

        <div style="padding-top: 20px; text-align: center; ">
            <img src="/icons/icons8-m-filled-50.png" width="40px" height="40px" />&nbsp;<img class="roundImage" src="/icons/moagram_logo_moa_head.png" width="40px" height="40px" border-radius="50%" /><img src="/icons/icons8-a-filled-50.png" width="40px" height="40px"/>
        </div>

        <!-- <div id="formGroup">
            <form action="/auth/login" method="post" >
                <div class="form-group">
                    <i class="glyphicon glyphicon-user"></i>
                    <input class="form-control" type="text" name="email" placeholder="email">
                </div>
                <div class="form-group">
                    <i class="glyphicon glyphicon-lock"></i>
                    <input class="form-control" type="password" name="password" placeholder="..........">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Login</button>
                </div>
            </form>
            <div>
                <a href="/auth/google" class="btn btn-primary"><img src="/icons/google.png" width="64px" height="64px" /> Google + </a>
            </div>
            <div>
                <a href="/">Go Back</a>
                <p>Need an account? <a href="/auth/register">Signup</a></p>
                <p>Or go <a href="/">home</a>.</p>
            <div>
        </div> -->
    </form>
</div>
<% include ./partials/footer %>


